{:app-name "automaton-build-app",
 :bb-tasks {:exclude-tasks #{'blog}},
 :clean {:compile-logs-dirs [".cpcache" ".clj-kondo/.cache" "tmp" ".DS_Store"
                             "target"]},
 :customer-materials
   {:dir "customer_materials", :html-dir "tmp/html", :pdf-dir "tmp/pdf"},
 :doc {:archi {:dir "docs/archi/"},
       :code-doc {:description "Build an hephaistox app",
                  :dir "docs/code",
                  :title "Build app automaton"},
       :code-stats {:output-file "docs/code/stats.md"},
       :dir "docs",
       :reports {:output-files {:alias "docs/code/alias.edn",
                                :comments "docs/code/comments.edn",
                                :css "docs/code/css.edn",
                                :deps "docs/code/deps.png",
                                :deps-ns "docs/code/deps-ns.svg",
                                :ns "docs/code/ns.png"}}},
 :la {},
 :lconnect {:aliases [:common-test :env-development-repl :build]},
 :ltest {:aliases [:env-development-test :common-test]},
 :monorepo {:app-dir "automaton/automaton_build_app"},
 :publication
   {:as-lib hephaistox/automaton-build-app,
    :gha-container {:account "hephaistox",
                    :repo-branch "main",
                    :repo-url "git@github.com:hephaistox/gha_image.git",
                    :workflows [[".github/workflows/commit_validation.yml"
                                 "gha-automaton-build-app"]]},
    :jar {:class-dir "target/classes",
          :excluded-aliases #{},
          :target-filename "target/%s-%s.jar"},
    :major-version "0.0.%d",
    :repo {:address "git@github.com:hephaistox/automaton-build-app.git",
           :branch "main"}}}
