{:aliases {:bb-deps {:extra-deps {djblue/portal {:mvn/version "0.50.0"}
                                  io.github.clojure/tools.build {:mvn/version "0.9.6"}
                                  slipset/deps-deploy {:mvn/version "0.2.2"}
                                  metosin/malli {:mvn/version "0.13.0"}
                                  org.clojure/tools.cli {:mvn/version "1.0.219"}}}
           :build {:extra-deps {}}
           :common-test {:exec-fn cognitect.test-runner.api/test
                         :extra-deps {clj-htmltopdf/clj-htmltopdf {:mvn/version "0.2.1"}
                                      com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                                 :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
                                      markdown-clj/markdown-clj {:mvn/version "1.11.7"}
                                      org.clojure/tools.namespace {:mvn/version "1.4.4"}
                                      org.clojure/tools.reader {:mvn/version "1.3.7"}}
                         :extra-paths ["test/clj" "test/resources"]
                         :jvm-opts ["-Dheph-conf=env/test/config.edn,env/common_config.edn"]}
           :env-development-repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}
                                               djblue/portal {:mvn/version "0.50.0"}
                                               org.clojure/core.async {:mvn/version "1.6.681"}
                                               refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}}
                                  :extra-paths ["env/development/resources" "env/development/src/clj" "env/development/src/cljc"]
                                  :jvm-opts ["-Dheph-conf=env/development/config.edn,env/common_config.edn"]
                                  :main-opts ["-m" "automaton-build-app.repl"]}
           :env-development-test
           {:jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory" "-Dhephaistox-in-test=true"
                       "-Dlog4j.configurationFile=resources/log_config/appenders.properties,resources/log_config/logging-tests.properties"]
            :main-opts ["-m" "cognitect.test-runner" "-r" ".*-test.*" "-d" "test/clj" "-d" "test/cljc"]}
           :user/vizns {:deps {io.dominic/vizns {:git/url "https://github.com/SevereOverfl0w/vizns.git"
                                                 :sha "34706190d41cb243f6270fe5a7324601a8404d30"}}
                        :main-opts ["-m" "io.dominic.vizns.core"]}}
 :deps {babashka/fs {:mvn/version "0.4.19"}
        djblue/portal {:mvn/version "0.50.0"} ;; developer tooling lib
        babashka/process {:mvn/version "0.5.21"}
        clj-htmltopdf/clj-htmltopdf {:mvn/version "0.2.1"}
        codox/codox {:mvn/version "0.10.8"}
        com.github.liquidz/antq {:mvn/version "2.7.1133"}
        dev.weavejester/medley {:mvn/version "1.7.0"}
        hiccup/hiccup {:mvn/version "2.0.0-RC2"}
        io.dominic/vizns {:git/url "https://github.com/SevereOverfl0w/vizns.git"
                          :sha "34706190d41cb243f6270fe5a7324601a8404d30"}
        io.github.clojure/tools.build {:mvn/version "0.9.6"}
        slipset/deps-deploy {:mvn/version "0.2.2"}
        markdown-clj/markdown-clj {:mvn/version "1.11.7"}
        metosin/malli {:mvn/version "0.13.0"}
        zprint/zprint {:mvn/version "1.2.8"}}
 :ns-default automaton-build-app.core
 :paths ["src/clj" "test_la/clj"]}
