;; This file is used only to test the shadow-cljs namespace
{:nrepl false
 :jvm-opts ["-Xmx1G"]
 :source-paths ["src/cljs" "src/cljc" "resources" "test/cljs" "test/cljc"]

 :dependencies []

 :devDependencies []

 :builds {:app {:target     :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :compiler-options {:infer-externs :auto
                                   :optimizations :advanced}
                :build-options {:ns-aliases {devcards-marked cljsjs.marked
                                             devcards-syntax-highlighter cljsjs.highlight}}
                :devtools {:preloads [day8.re-frame-10x.preload
                                      re-frisk-remote.preload]
                           :repl-pprint true}
                :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true
                                                           day8.re-frame.tracing.trace-enabled? true}
                                         :devcards true}}
                :release {:build-options {:ns-aliases {day8.re-frame.tracing day8.re-frame.tracing-stubs}
                                          :cache-level :off}
                          :compiler-options {:devcards false}}}
          :browser-test {:target    :browser-test
                         :ns-regexp "-test$"
                         :runner-ns shadow.test.browser
                         :test-dir  "target/browser-test"}
          :karma-test {:target    :karma
                       :ns-regexp "-test$"
                       :output-to "target/karma-test.js"}}}
