;; This file is used only to test the shadow-cljs namespace
{:builds
 {:app {:asset-path "/js/compiled"
        :build-options {:ns-aliases {devcards-marked cljsjs.marked
                                     devcards-syntax-highlighter cljsjs.highlight}}
        :compiler-options {:infer-externs :auto
                           :optimizations :advanced}
        :dev {:compiler-options {:closure-defines {day8.re-frame.tracing.trace-enabled? true
                                                   re-frame.trace.trace-enabled? true}
                                 :devcards true}}
        :devtools {:preloads [day8.re-frame-10x.preload re-frisk-remote.preload]
                   :repl-pprint true}
        :output-dir "resources/public/js/compiled"
        :release {:build-options {:cache-level :off
                                  :ns-aliases {day8.re-frame.tracing day8.re-frame.tracing-stubs}}
                  :compiler-options {:devcards false}}
        :target :browser}
  :browser-test {:ns-regexp "-test$"
                 :runner-ns shadow.test.browser
                 :target :browser-test
                 :test-dir "target/browser-test"}
  :karma-test {:ns-regexp "-test$"
               :output-to "target/karma-test.js"
               :target :karma}}
 :dependencies []
 :devDependencies []
 :jvm-opts ["-Xmx1G"]
 :nrepl false
 :source-paths ["src/cljs" "src/cljc" "resources" "test/cljs" "test/cljc"]}
