;; This configuration file contains all configuration common to all environments.
{:app-name "automaton-core"
 :archi {:dir "docs/archi/"}
 :customer-materials {:src-dir "docs/customer_materials"}
 :documentation {:codox "docs/codox"
                 :code-stats "docs/code/stats.md"
                 :code-subdir "docs/code"}}
